# Ignore everything by default
*

# Include only files needed for the build
!Cargo.toml
!Cargo.lock
!bin/
!crates/
!LICENSE
!.git/
!.cargo/
!shadow/
# Local-only: vendored ethp2p-rs path dep (gitignored), needed in the build
# context to build with the `ethp2p` feature.
!ethp2p-rs/
